# Config files
.config
raw_data.ini
config.ini

# Collections
.collections

# Fixtures, dumps, personal tests, etc.
openfisca_survey_manager/tests/test_read_dbf.py
openfisca_survey_manager/tests/data_files/dump/
openfisca_survey_manager/tests/data_files/config.ini
openfisca_survey_manager/tests/data_files/fake.hdf5
openfisca_survey_manager/tests/data_files/fake.json
openfisca_survey_manager/tests/data_files/test_random_generator.json

# Vscode config
.vscode

# ignore tags files
.tags*
tags

# Ignore temporary h5 files
*.h5

# Spyder junk
.spyderworkspace
.spyderproject
.spyproject

# Ignore emacs saves
*~

# Ignore local config file
*_local.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Pyenv config
.python-version

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# ctags file
.tags*
/tags
tags
.venv

# Tests files
*.parquet
test_*.json
